
<div class="parallax"><%= image_tag "pic3.jpeg", class: "pic" %></div>


<h1> Camping Group </h1>


<%= form_tag('/groups/camping', class: "waves-effect waves-light btn") %>
  
<%= hidden_field_tag 'user_id', 'current_user.id' %>

<%= submit_tag ('Join Camping Group'), data: { confirm: 'You are now apart of the Camping Group' } %>

 <% @group.user.each do |user| %>
  <p><%= link_to(user.name, user_path) %></p>
<% end %>

