<h1 class="groups">Join A Kayak Group</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<div class="parallax-container">
    <div class="parallax"><%= image_tag "pic1.jpeg", class: "pic" %> </div>
  </div>
  <div class="section white">
    <div class="row container" id="container1" >
      <h2 class="header">Fishing</h2>
      <br><a class="waves-effect waves-light btn" id="bttn1">Join Fishing Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic2.jpeg", class: "pic" %></div>
    </div>
    <div class="section white">
    <div class="row container" id="container2">
      <h2 class="header">Camping</h2>
      <br><a class="waves-effect waves-light btn" id="bttn2">Join Camping Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic3.jpeg", class: "pic" %></div>
    </div>
    <div class="section white">
    <div class="row container" id="container3">
      <h2 class="header">Rapids</h2>
      <br><a class="waves-effect waves-light btn" id="bttn3">Join Rapids Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic4.jpeg", class: "pic" %></div>
    </div>
    <div class="section white">
    <div class="row container" id="container3">
      <h2 class="header">Recreational</h2>
      <br><a class="waves-effect waves-light btn" id="bttn4">Join Recreational Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic5.jpeg", class: "pic" %></div>
    </div>
    <div class="section white">
    <div class="row container" id="container4">
      <h2 class="header">Lake</h2>
      <br><a class="waves-effect waves-light btn" id="bttn5">Join Lake Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic6.jpeg", class: "pic" %></div>
    </div>
    <div class="section white">
    <div class="row container" id="container5">
      <h2 class="header">Ocean</h2>
      <br><a class="waves-effect waves-light btn" id="bttn6">Join Ocean Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><%= image_tag "pic7.jpeg", class: "pic" %></div>
    </div>


  </div>
      