  <h1 class="groups">Join A Kayak Group</h1>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic1.jpeg", class: "pic" %> </div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container1" >
    <h2 class="header"><%= link_to('Fishing', groups_fishing_path) %></h2>
    <br><a class="waves-effect waves-light btn" id="bttn1" <%= link_to 'join fishing group', groups_fishing_path %></a>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic2.jpeg", class: "pic" %></div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container2">
    <h2 class="header"><%= link_to('Camping', groups_camping_path) %></h2>
    <br><a class="waves-effect waves-light btn" id="bttn2" <%= link_to 'join camping group', groups_camping_path %></a>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic3.jpeg", class: "pic" %></div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container3">
  <h2 class="header"><%= link_to('Rapids', groups_rapids_path) %></h2>
  <br><a class="waves-effect waves-light btn" id="bttn3" <%= link_to 'join rapids group', groups_rapids_path %></a>
  <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic4.jpeg", class: "pic" %></div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container3">
    <h2 class="header"><%= link_to('Recreational', groups_recreational_path) %></h2>
    <br><a class="waves-effect waves-light btn" id="bttn4" <%= link_to 'join recreational group', groups_recreational_path %></a>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic5.jpeg", class: "pic" %></div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container4">
  <h2 class="header"><%= link_to('Lakes', groups_lakes_path) %></h2>
  <br><a class="waves-effect waves-light btn" id="bttn5" <%= link_to 'join lakes group', groups_lakes_path %></a>
  <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic6.jpeg", class: "pic" %></div>
</div>
<div class="section #b3e5fc light-blue lighten-4">
  <div class="row container" id="container5">
  <h2 class="header"><%= link_to('Ocean', groups_ocean_path) %></h2>
  <br><a class="waves-effect waves-light btn" id="bttn6" <%= link_to 'join ocean group', groups_ocean_path %></a>
  <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "pic7.jpeg", class: "pic" %></div>
</div>

        