   




    <div class="headctn">
    <section class="ctn">
    <a href="#"><%= image_tag "pic11.jpg", class: "head-img" %></a>

    <!-- <h1 class="mainh1 center-align ">Find a kayak buddy</h1> -->
    <h1 class="white-text">Find your kayak buddy</h1>
    </section>
    </div>
  
<h4 class="center-align">Join a group</h4>
  <div class="ctn-rel">
  <div class="row">
    <div class="card small col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "pic5.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Lakes<i class="material-icons right">more_vert</i></span>
        <p><%= link_to('View group', groups_lakes_path) %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Lakes<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="card small col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "pic4.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Rivers<i class="material-icons right">more_vert</i></span>
        <p><%= link_to('View group', groups_rapids_path) %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Fishing<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="card small col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "pic3.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Camping<i class="material-icons right">more_vert</i></span>
        <p><%= link_to('View group', groups_camping_path) %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Camping<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    
    <div class="card small col s12 m6 l3">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "pic2.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Fishing<i class="material-icons right">more_vert</i></span>
        <p><%= link_to('View group', groups_fishing_path) %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Camping<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>

 
<h4 class="center-align">Find a buddy</h4>


  <div class="container right-align">

    <%= will_paginate @users %>
  </div>
<% @users.each do |user| %>
  <div class="divider"></div>
  <div class="section row">
    
    <div class="col m6 offset-m1 s6">
      
      <img src="<%= user.picture %>" class="user-img" alt="user image">

        <div class="container user-ctn">
          <div class="user-info">
          <!-- this should link to specific user's page (user_path) -->
            <span><%= link_to(user.name, user_path(user)) %></span>    
            <span>| <%= user.city %></span>
            <span>| <%= user.gender %> | </span>
        
          <p>Skill Level: <%= user.skill_level %></p>
          <div class="truncate"><%= user.more_info %></div>
        </div>
       </div>
    </div>

    <div class="col m3 offset-m2 s6">

    <!--<% if @current_user %>
      <%= form_tag ('/email_sender/display') do %>
      <%= hidden_field_tag 'to_email', user.email %>
      <%= hidden_field_tag 'from_email', @current_user.email %>
      <%= submit_tag 'Contact', class:"btn send-msg" %>
      <% end %>
    <% end %>-->

      

    </div>

  </div>
<% end %>
<div class="pag-bot">
<div class="container right-align">
  <%= will_paginate @users %>
</div>
</div>