

<div class="container">
  <h1>Find a kayak buddy</h1>
  <%= link_to('logout', logout_path, method: :delete) %>
</div>
  <div class="container">
    <%= will_paginate @users %>
  </div>
<% @users.each do |user| %>
  <div class="divider"></div>
  <div class="section row">
    
    <div class="col m6 offset-m1 s6">
      
      <a href="<%= user.picture %>" class="" alt="user image"></a>

        <div class="container">
          <p>-->
          <!-- this should link to specific user's page (user_path) -->
            <span><%= link_to(user.name, user_path(user)) %></span>    
            <span>| <%= user.city %></span>
            <span>| <%= user.gender %> | </span>
          </p>
          <p>Skill Level: <%= user.skill_level %></p>
          <div><%= user.more_info %></div>
       </div>
    </div>

    <div class="col m3 offset-m2 s6">
      <%= form_tag ('/email_sender/display') do %>
      <%= hidden_field_tag 'to_email', user.email %>
      <%= hidden_field_tag 'from_email', @current_user.email %>
      <%= submit_tag 'Contact', class:"btn send-msg" %>
      <% end %>

      

    </div>

  </div>
<% end %>
<div class="container">
  <%= will_paginate @users %>
</div>