<h1>Sign up for an account</h1>

<%= form_for(@user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.label(:gender_female) %>
<%= f.radio_button(:gender, 'female') %>
<%= f.label(:gender_male) %>
<%= f.radio_button(:gender, 'male') %>

<%= f.label :skill_level %>
<%= f.select :skill_level, [['Beginner', 'beginner'], ['Intermediate', 'intermediate'], ['Advanced', 'advanced']] %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :more_info %>
<%= f.text_area :more_info %>

<%= f.submit 'Sign up' %>

<% end %>

