<!-- <div class="container"> -->

<div class="signup container">
	<h3 class="center-align">Find your next kayak buddy</h3>
	<!-- <p>Contact other kayakers join groups.</p> -->
	<div class="row center">
		<a href="/auth/facebook"><%= image_tag "facebook-btn.png", class: "facebook-btn" %></a>
	</div>

	<h5 class="center-align">Or create an account:</h5>
	

	<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<div class="input-field">
		<%= f.radio_button(:gender, 'female') %>
		<%= f.label(:gender, 'Female', value: 'female') %>

		<%= f.radio_button(:gender, 'male') %>
		<%= f.label(:gender, 'Male', value: 'male') %>
	</div>

	<%= f.label :skill_level %>
	<%= f.select :skill_level, [['Beginner', 'beginner'], ['Intermediate', 'intermediate'], ['Advanced', 'advanced']] %><br/>

	<%= f.label :city %>
	<%= f.text_field :city %>

	<%= f.label 'Additional info' %>
	<%= f.text_area :more_info, placeholder: 'i.e. I love kayaking on Lake Washington. If you would like to join, send me a message!' %>

	<%= f.submit 'Sign up', class: 'signupbtn waves-effect waves-light btn' %>

	<% end %>
</div>