<h1>Weather for La Push, WA</h1>

<!--<%= form_tag(root_path, method: :GET) do %>

<p class="weatherBox"><%= text_field_tag(:term) %></p>

<%= submit_tag('Search') %>
<% end %>
<br/>-->

<div class="container">
  <table class="bordered">
    <tr>
      <th>Current Temp</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Swell Height</th>
      <th>Swell Direction</th>
    </tr>
      <td><%= @data[0]['condition']['temperature'] %> &#x2109;</td>
      <td><%= @data[0]['wind']['speed']%></td>
      <td><%= @data[0]['wind']['compassDirection']%></td>
      <td><%= @data[0]['swell']['components']['combined']['height']%></td>
      <td><%= @data[0]['swell']['components']['combined']['compassDirection']%></td>
    </tr>
  </table>
  <table class="bordered">
    <tr>
      <th>Swell Chart</th>
      <th>Wind Chart</th>
    </tr>
    <tr>
      <td class="charts"><%= image_tag(@data[0]['charts']['swell']) %></td>
      <td class="charts"><%= image_tag(@data[0]['charts']['wind']) %></td>
    </tr>
  </table>
</div>



<!--   <div>
  <h3>Current Temp</h3>
  <p><%= @data[0]['condition']['temperature'] %> &#x2109;</p>

  <h3>Wind Speed</h3>
  <p><%= @data[0]['wind']['speed']%></p>

  <h3>Wind Direction</h3>
  <p><%= @data[0]['wind']['compassDirection']%></p>

  <h3>Swell Height</h3>
  <p><%= @data[0]['swell']['components']['combined']['height']%></p>
  <h3>Swell Direction</h3>
  <p><%= @data[0]['swell']['components']['combined']['direction']%></p>
  <p><%= @data[0]['swell']['components']['combined']['compassDirection']%></p>

  <h3>charts</h3>
  <p><%= image_tag(@data[0]['charts']['swell']) %></p>
  <p><%= image_tag(@data[0]['charts']['wind']) %></p>

</div> -->

