<h1>Weather#index</h1>
<p>Find me in app/views/weather/index.html.erb</p>

<%= form_tag(root_path, method: :GET) do %>

<p class="weatherBox"><%= text_field_tag(:term) %></p>

<%= submit_tag('Search') %>
<% end %>
<br/>
  <div>
  <h3>Current Temp</h3>
  <p><%= @data[0]['condition']['temperature'] %> &#x2109;</p>

  <h3>Wind Speed</h3>
  <p><%= @data[0]['wind']['speed']%></p>

  <h3>Wind Direction</h3>
  <p><%= @data[0]['wind']['compassDirection']%></p>

  <h3>Swell Height</h3>
  <p><%= @data[0]['swell']['components']['combined']['height']%></p>
  <h3>Swell Direction</h3>
  <p><%= @data[0]['swell']['components']['combined']['direction']%></p>
  <p><%= @data[0]['swell']['components']['combined']['compassDirection']%></p>

  <h3>charts</h3>
  <p><%= image_tag(@data[0]['charts']['swell']) %></p>
  <p><%= image_tag(@data[0]['charts']['wind']) %></p>

</div>

