<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : " Kayak Buddy " %></title>
    <link rel="shortcut icon" href="https://image.freepik.com/free-icon/kayak_318-109194.png" sizes="32x32" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--  <%= @current_user.inspect %>  -->


      <% if @current_user  %>
    <!--   <div>
        <p>Hello <%= @current_user.name %></p>
        <div><%#= image_tag(@current_user.picture) %></div> 
      </div> -->
      <%= link_to('logout', logout_path) %>
      <% else %>
      <%= link_to('login with facebook', '/auth/facebook') %>
      <% end %>

      <%= render "partials/flash" %>
      <%= render "partials/header" %>
      <main>
        <%= yield %>
      </main>
    <%= render "partials/footer" %>
  </body>
</html>
